<h1><%= question_header(@question) %></h1>

<%= form_with model: route, local: true do |form| %>

  <%= render 'shared/errors', resource: @question%>

  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

  <p>
    <%= form.label :question%>
    <%= form.text_field :title%>
  </p>

  <p><%= form.submit %></p>
<% end %>
